body {
    background: black;
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
    text-align: center;
    background-image: url(imgs/backround.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* IMPORTANT: Snow must be in background */
#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}

.snowflake {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.9;
}


@keyframes fall {
    0%   { transform: translateY(-10vh); }
    100% { transform: translateY(110vh); }
}

.music-button {
    width: 300px;
    height: 100px;
    background-color: #1b1b1b;
    border-radius: 10px;
    transform: scale(1.00);
    transition: all ease 0.3s;
    position: relative;
    padding: 12px 120px 12px 12px;
}
.music-button:hover {
transform: scale(1.25);
}
img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: block;
    margin-left: 0; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
h3 {
    font-size: 17px;
    display: block;
    margin: 0 0 10px 0;
    position: absolute;
    right: 2%;
    white-space: nowrap ;
}
h5 {
    display: block;
    position: absolute;
    right: 30%;
}
.music-button-container {
    display: flex;
    gap: 20px;
}